/*HEART*/

.heart {
  font-size: 22px;
  color: black;
  z-index: 600;
  position: absolute;
  right: 20px;
  .fa-solid  {
    color: transparent;
    background-image: linear-gradient(rgb(255, 121, 218), rgb(147, 86, 220));
    -webkit-background-clip: text;
    background-clip: text;
    opacity: 0;
    transition: all 0.5s;
  }
    .fa-heart {
      font-size: 22px;
      position: absolute;
      right: 0%;
      top: -15px;
    }
  }
  
  .heart .fa-solid:hover {
    opacity: 1;
    transform: scale(1.2)
  }

  .card .heart {
    font-size: 22px;
    color: black;
    z-index: 600;
    position: absolute;
    right: 20px;
  }