/*ANIMATION CHECK*/

.check-animation {
    width: 0;
    height: 69px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(153, 226, 208, 1);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    position: absolute;
    transition: 0.5s ease-in-out;
    visibility: hidden;
    .check {
      width: 0;
      height: 20px;
      border-radius: 50%;
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      visibility: hidden;
      transition: 0.3s;
      i {
        color: rgba(153, 226, 208, 1);
        font-size: 15px;
      }
    }
  }
  
  .card-rest:hover .check-animation {
    width: 59px;
    transition: 0.5s ease-in-out;
    visibility: visible;
    position: absolute;
    .check {
      width: 20px;
      visibility: visible;
      transition: 0.5s;
    }
  }
  
  .card-rest:hover .prix {
    transform: translateX(-59px);
    transition: 0.5s ease-in-out;
  }
  .card-rest:hover .card-description {
    h3 {
      max-width: 228px;
      transition: 0.5s;
    }
    p {
      max-width: 228px;
      transition: 0.5s;
    }
  }
  